/* --------------------------------------- */
/* Google Fonts Import */

@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Roboto:wght@250;400&display=swap');
/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Orbitron', sans-serif; */



/* --------------------------------------- */
/* CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* --------------------------------------- */
/* General Styles */

html {
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
}

.container {
  width: 80%;
  margin: 0 auto;
}

a {
  font-family: 'Orbitron', sans-serif;
  text-decoration: none;
}


/* --------------------------------------- */
/* Header & Footer Styles */

header, footer {
  background-color: #ddd;
  padding: 10px;
  width: 100%;
}

header {
  border-bottom: 1px solid #bbb;
  box-shadow: 0 2px 3px #ccc;
}

header h1 {
  font-size: 5rem;
  margin: 30px 20px;
  text-shadow: 1px 1px 3px white;
}

header nav {
  display: flex;
  margin-left: 40px;
}

header nav a {
  background-color: #fbfbfb;
  border-top: 1px solid #777;
  border-bottom: 1px solid #777;
  border-right: 1px solid #777;
  color: #222;
  font-size: 1.5rem;
  margin-bottom: 30px;
  max-width: 14rem;
  min-width: 8rem;
  padding: 10px;
  text-align: center;
  text-shadow: 1px 1px 2px #eee;
  width: 10%;
}

header nav a:first-child {
  border-left: 1px solid #777;
}

header nav a:hover {
  background-color: orange;
  color: white;
  text-shadow: 1px 1px 2px #888;
}

footer {
  border-top: 1px solid #ccc;
}

.footer {
  align-items: center;
  display: flex;
  font-size: 2.5rem;
  flex-flow: column nowrap;
  justify-content: center;
}

footer h3 {
  margin: 30px 0 20px 0;
  text-align: center;
}

.footer > a { 
  background-color: #fbfbfb;
  border: 1px solid #777;
  color: #222;
  font-size: 1.5rem;
  max-width: 14rem;
  min-width: 8rem;
  padding: 10px;
  text-align: center;
  text-shadow: 1px 1px 2px #eee;
  width: 10%;
}

.footer > a:hover {
  background-color: green;
  color: white;
  text-shadow: 1px 1px 2px #333;
}

footer .social {
  display: flex;
}

.social i {
  color: black;
  margin: 40px 15px;
  padding: 0 1px;
}

.social i:hover {
  background-color: yellow;
}

.footer p {
  font-size: 1.3rem;
  margin-bottom: 60px;
}


/* --------------------------------------- */
/* Heading Styles */

.heading {
  margin: 0 auto;
  max-width: 1180px;
  display: flex;
  justify-content: flex-start;
}

.heading .main-image {
  background: url(https://i.pinimg.com/originals/cd/53/99/cd53995b1c02ca70f90ff3d105fb51dc.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #777;
  height: 400px;
  margin: 2rem;
  width: 600px;
}

.heading .intro {
  margin: 2rem;
  width: 500px;
}

.intro h2 {
  font-size: 3rem;
  margin: 8rem 0 3rem 0;
}

.intro a {
  background-color: #fbfbfb;
  border: 1px solid #777;
  color: #222;
  display: block;
  font-size: 1.5rem;
  margin: 20px 0;
  width: 14rem;
  padding: 10px;
  text-align: center;
  text-shadow: 1px 1px 2px #eee;
}

.intro a:hover {
  background-color: blue;
  color: white;
  text-shadow: 1px 1px 2px #888;
}

.intro p {
  font-size: 2rem;
  font-weight: 250;
  line-height: 2.8rem;
}


/* --------------------------------------- */
/* Gallery Styles */

.gallery {
  display: flex;
  margin: 30px auto 50px auto;
  max-width: 1180px;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-image {
  margin: 20px;
}

.gallery-image img {
  border: 1px solid #777;
  filter: grayscale(60%);
  opacity: 0.5;
  transition: 0.3s;  
}

.gallery-image img:hover {
  opacity: 1;
  filter: grayscale(0%);
}

.gallery-image p {
  font-size: 1.5rem;
  margin-top: 5px;
  text-align: center;
}

@media only screen and (max-width: 480px) {
  .heading .main-image {
    display: none;
  }
  
  .intro h2 {
    display: none;
  }
}


/* --------------------------------------- */
/* Small Screens and Mobile Styles */

@media only screen and (max-width: 800px) {

}

@media only screen and (max-width: 500px) {
  header nav {
    display: none;
  }
}